healthzone/node_modules/
healthzone/dist/
healthzone/dist-ssr/
healthzone/*.local
healthzone/.env
healthzone/.env.*
healthzone/npm-debug.log*
healthzone/yarn-debug.log*
healthzone/yarn-error.log*

php/uploads/avatars/*
!php/uploads/avatars/default_avatar.png

php/vendor/
php/composer.lock

.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sql
*.log